<a href="/anonyme"><button type="button" class="btn btn-primary" href="/anonyme">Mode Anonyme</button></a>
<a href="/user/signup"><button type="button" class="btn btn-primary" href="/user/signup">S'incrire</button></a>
<a href="/user/signin"><button type="button" class="btn btn-primary" href="/user/signin">Se connecter</button></a>